<div class="col-lg-6">
        <div class="box-element">
            <hr>
            <h4>Details</h4>
            <hr>
            {% for a in subscribeitem %}
            <div class="cart-row">
                <div style="flex:1">
                    <p>{{a.Area}}</p>
                </div>
                <div style="flex:1">
                    <p>{{a.door_number}}</p>
                </div>
                <div style="flex:1">
                    <p>{{a.publication}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
     
      .container {
        
       
        margin: 20;
        width: 80%;
        background-color: #f2f2f2;
        padding: 20px;
        text-align:center;
      }
    </style>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>NAAS</title>
  </head>
  <body class=" bg-black">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          
         Master's Newpaper Agency
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link disabled">Hello, {{request.user}}</a>
            </li>
          </ul>
          
        </div>
        
        &nbsp;
        {% comment %} <button
          type="button"
          class="btn btn-outline-danger"
          type="submit"
          href="{% url 'logout' %}"
        >
          Logout
        </button> {% endcomment %}

       <a class="btn btn-outline-danger"  href= "{% url 'deliveryagenthome' %}" >Back</a>
        
      </div>
    </nav>
    
    
  
    <div style="display:flex; justify-content:center; align-items:center; height:50vh;"class="container">
     
      

        <div>
        <h4>Details</h4>
        <table>
  <tr>
    <th>Area</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th>Door Number</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th>Newspaper</th>
  </tr>
   {% for a in subscribeitem %}
  <tr>
    <td>{{a.Area}}  </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td>  {{a.door_number}}</td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td>  {{a.publication}}</td>
  </tr>
  {% endfor %}
  
</table>

          
        </div>        
  </div> 
 </body>
</html>
