{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">

var updateButtons = document.getElementsByClassName('update-subscription');
console.log('Hello World');
for (var x = 0; x < updateButtons.length; x++) {
    updateButtons[x].addEventListener('click', function() {
        var prodID = this.dataset.product;  // Use 'data-product' instead of 'data-publication'
        var action = this.dataset.action;
        console.log('prodID:', prodID, 'action:', action);
        console.log('USER:', user);
        if (user === 'AnonymousUser') {
            console.log('Not Logged In');
        } else {
            updateSubscription(prodID, action);
        }
    });
}

function updateSubscription(prodID, action) {
    console.log('processing data');
    var url = '/updateitem/';
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ 'prodID': prodID, 'action': action })
    })
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        console.log('data:', data);
        location.reload();
    });
}
</script>
<script type="text/javascript" src="{% static 'js/subscription.js' %}"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo2.png'%}" alt="" width="40" height="24"
                class="d-inline-block align-text-top">
            NAAS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'buyer' %}">Home</a>
                </li>
            </ul>
        </div>
       
        <a class="btn btn-outline-dark" href="{% url 'subscription' %}"> My Subscriptions</a>
        &nbsp;
        {% comment %} <button type="button" class="btn btn-outline-dark" type="submit" href= "{% url 'logout' %}">Logout</button> {% endcomment %}
        <a  class="btn btn-outline-dark" href= "{% url 'logout' %}"> Logout</a>
        &nbsp;
    </div>
</nav>
<br>
<br>
<div class="container">
    <br>
    <div class="row">
        {% for publication in publications %}
        <div class="col-lg-4">
           
            <div class="box-element product">
                <h6><strong>{{publication.paper_name}}</strong></h6>
                <hr>

              <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline-secondary add-btn update-subscription">Subscribe</button>
                <h4 style="float:right">{{publication.price}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}
