{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo2.png'%}" alt="" width="40" height="24"
                class="d-inline-block align-text-top">
            NAAS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"  href="{% url 'buyer' %}">Home</a>
                     <a class="btn btn-outline-dark" href="{% url 'item' %}">&#x2190; VIEW AVAILABLE NEWSPAPERS</a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
               
               
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Items: <strong>{{subscription.get_subscription_items}}</strong></h5>
                        </th>
                        
                        <th>
                            <a style="float:right; margin:5px;" class="btn btn-success"
                                href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>

            </div>

            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Newspaper</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                   
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.publication.imageURL}}"></div>
                    <div style="flex:2">
                        <p>{{item.publication.paper_name}}</p>
                    </div>
                    <div style="flex:1">
                        <p>{{item.publication.price}}</p>
                    </div>
                    <div style="flex:1">
                        <p class="quantity">{{item.quantity}}</p>
                       
                    </div>
                   
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>

{% endblock content%}
